
<!-- Muestra el mensaje de error -->
<h1><%= message %></h1>
<!-- Muestra el código de estado del error -->
<h2><%= error.status %></h2>
<!-- Muestra la traza del error (stack trace) -->
<pre><%= error.stack %></pre>