<!--
 * Actualiza el formulario de login para manejar el envío POST y mostrar errores
 * @param {string} email - Email del usuario, se mantiene en caso de error
 * @param {string} error - Mensaje de error a mostrar si las credenciales son inválidas
-->

<%- include('header.ejs') %>
<!-- Se crea una nueva vista para el formulario de inicio de sesión utilizando componentes de Bootstrap -->
<div class="container">
  
  <h1>Login</h1>
  <form method="POST"> <!-- ... (campos del formulario) ... -->

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" value="<%= email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
  

    <button type="submit" class="btn btn-primary">Submit</button>
    <p><%= error %></p>
  </form>
</div>
<%- include('footer.ejs') %>